@CHARSET "ISO-8859-1";

.centrarImagenEnPantalla {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.estiloLetraYtamanio {
	font-family: Arial Unicode MS,Arial,sans-serif;
	font-size: 12px;
}

.fondoBody {
	background: #D8D8D8;
}

.widthAjaxGetUserServletResponse {
	width: 578px;
}