<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE_WEB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/logs/clienteJuridico/clienteJuridicoWeb.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>	

	<appender name="FILESEGURIDAD_WEB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/logs/clienteJuridico/clienteJuridicoWeb_seguridad.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	

	<appender name="CONSOLE_WEB" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	<logger name="ec.com.bancoInternacional">
		<level value="INFO" />
		<appender-ref ref="FILESEGURIDAD_WEB"/>		
	</logger>
	
	<logger name="ec.com.bancoInternacional.view.controller">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE_WEB"/>		
	</logger>
				
	<logger name="com.ibm.connector">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE_WEB" />
		<appender-ref ref="FILE_WEB" />
	</logger>	
	
	<root>
		<level value="ALL" />
		<appender-ref ref="FILE_WEB" />
	</root>
	

</log4j:configuration>