<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE_WEB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c://logs//ConsultaBastanteoBI//consultaBastanteoBI_general.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	<appender name="CONSULTABASTANTEOBI_INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="c://logs//ConsultaBastanteoBI//consultaBastanteoBI_info.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO"/>
			<param name="LevelMax" value="INFO"/>
		</filter>
	</appender>
	
	<appender name="CONSULTABASTANTEOBI_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="c://logs//ConsultaBastanteoBI//consultaBastanteoBI_error.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR"/>
			<param name="LevelMax" value="ERROR"/>
		</filter>
	</appender>
	
	<appender name="CONSOLE_WEB" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	<logger name="ec.com.bancoInternacional.ConsultaBastanteo">
		<level value="ALL" />
		<appender-ref ref="CONSULTABASTANTEOBI_INFO"/>	
		<appender-ref ref="CONSULTABASTANTEOBI_ERROR"/>
	</logger>
	
	<logger name="com.ibm.connector">
		<level value="INFO" />
		<appender-ref ref="CONSOLE_WEB" />
		<appender-ref ref="FILE_WEB" />
	</logger>	
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE_WEB" />
	</root>

</log4j:configuration> 